synapse/pipeline/Blob Storage Event Trigger to Run Dataflow.json
{
	"name": "Blob Storage Event Trigger to Run Dataflow",
	"properties": {
		"activities": [
			{
				"name": "Load with Dataflow",
				"description": "Added descr to trigger change",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set foldername",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "Move data to dataflow parquet",
						"type": "DataFlowReference",
						"parameters": {
							"container": {
								"value": "'@{variables('containername')}'",
								"type": "Expression"
							},
							"file": {
								"value": "'@{pipeline().parameters.file}'",
								"type": "Expression"
							},
							"folder": {
								"value": "'@{variables('foldername')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set containername",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "containername",
					"value": {
						"value": "@substring(pipeline().parameters.folder,0,indexof(pipeline().parameters.folder,'/'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set foldername",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set containername",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "foldername",
					"value": {
						"value": "@substring(pipeline().parameters.folder,add(indexof(pipeline().parameters.folder,'/'),1),sub(sub(length(pipeline().parameters.folder),indexof(pipeline().parameters.folder,'/')),1))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"folder": {
				"type": "string"
			},
			"file": {
				"type": "string"
			},
			"folderdf": {
				"type": "string"
			},
			"filedf": {
				"type": "string"
			}
		},
		"variables": {
			"containername": {
				"type": "String"
			},
			"foldername": {
				"type": "String"
			}
		},
		"annotations": []
	}
}